#include <windows.h>

IDI_ICON1 ICON "resources/icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "QueMusic Contributors"
            VALUE "FileDescription", "QueMusic"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "QueMusic"
            VALUE "LegalCopyright", "Copyright (c) 2026 QueMusic Contributors"
            VALUE "OriginalFilename", "QueMusic.exe"
            VALUE "ProductName", "QueMusic"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END